/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  padding: 80px;
  background-color: #f4f4f4;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.profile-img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
  border-radius: 50%;
}
h1 {
  text-align: center;
  margin-top: 10px;
/* Desktop */
@media (min-width: 768px) {
  .bio,
  .projects
  .contact {
    width: 33%;
    margin: 0 auto;
}}
/* Mobile */
@media (max-width: 768px) {
  .bio,
  .projects
  .contact {
    width: 100%;
}}
#promptButton {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 17px;
  border: 1px solid #ccc;
  background-color: #dfa;
  padding: 5px;
  border-radius: 5px;
  text-align: top;
  line-height: 0.05px;
  cursor: pointer;
}
a {
  color: #333;
  text-align: center;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* Desktop */
.input-box {
  position: sticky;
  top: 20px;
}
.output-box {
  position: sticky;
  top: 80px;
}
/* Mobile */
@media (max-width: 768px) {
  .input-box,
  .output-box {
    position: relative;
    top: 0;
  }
  .input-box {
    left: 0;
    width: 50%;
  }
  .output-box {
    right: 0;
    width: 50%;
}}
