/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  padding: 80px;
  background-color: #f4f4f4;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.profile-img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
  border-radius: 50%;
}
h1 {
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 768px) {
    margin-top: 0;
}
.bio {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.projects {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.contact {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
#promptButton {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 17px;
  border: 1px solid #ccc;
  background-color: #dfa;
  padding: 5px;
  border-radius: 5px;
  text-align: top;
  line-height: 0.05px;
  cursor: pointer;
}
a {
  color: #333;
  text-align: center;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.input-box {
  position: absolute;
  top: 46%;
  left: 70%;
  transform: translate(-50%, -30%);
  width: 100px;
  height: 17px;
  cursor: pointer;
}
.output-box {
  position: absolute;
  top: 46%;
  left: 30%;
  transform: translate(-50%, -70%);
  width: 100px;
  height: 17px;
  cursor: pointer;
}
